<div class="layout-topbar">


    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="layout-topbar-logo">
        <img src="assets/layout/images/logo-white.png" alt="logo">
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p>{{authService.getUser.nombre_completo.toString()}}</p>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        
        <p-menu #menu [popup]="true" [model]="overlayMenuItems"></p-menu>
    </div>
</div>
