<div class="card">

    <p-table #dt
    [value]="listaFormularioExternos"
    [columns]="cols"
    responsiveLayout="scroll"
    [rows]="rows"
    [paginator]="true"
    [rowsPerPageOptions]="[10,20,30,50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onPage)="onPageChange($event)"
    (onSort)="onSort($event)"
    dataKey="id"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [globalFilterFields]="['nro_formulario','razon_social','lote','fecha_creacion','estado','fecha_vencimiento']">

      <ng-template pTemplate="caption">

        <div class="flex justify-content-between">
            <div class="flex align-items-center gap-2">
                <button pButton pRipple
                label="Nuevo Formulario Externo"
                icon="pi pi-plus" class="p-button-success mr-2"
                routerLink="/admin/formulario-101/formulario-externo/crear"
                *ngIf="canCrearFormularioExterno.canActivate()"
                ></button>
                <p-dropdown
                  [options]="operadores"
                  optionLabel="razon_social"
                  optionValue="id"
                  [showClear]="true"
                  placeholder="Operador"
                  (onChange)="cambioOperador($event)"
                ></p-dropdown>
            </div>

          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Buscar..." (input)="onGlobalFilter($event)" />
          </span>
        </div>
        <div class="flex items-center justify-center h-32 mt-4">
            <h5 class="m-0">Administrar Formularios Externo</h5>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nro_formulario">
            Número <p-sortIcon field="nro_formulario"></p-sortIcon>
          </th>
          <th pSortableColumn="razon_social">
            Operador <p-sortIcon field="razon_social"></p-sortIcon>
          </th>
          <th pSortableColumn="lote">
            Lote <p-sortIcon field="lote"></p-sortIcon>
          </th>
          <th pSortableColumn="fecha_creacion">
            Fecha Creación <p-sortIcon field="fecha_creacion"></p-sortIcon>
          </th>
          <th pSortableColumn="fecha_vencimiento">
            Vencimiento <p-sortIcon field="fecha_vencimiento"></p-sortIcon>
          </th>
          <th>
            Trancas Transitadas
        </th>
          <th pSortableColumn="estado">
            Estado <p-sortIcon field="estado"></p-sortIcon>
          </th>
          <th pSortableColumn="rating">Acciones <p-sortIcon field="rating"></p-sortIcon></th>
          <th pSortableColumn="rating">Imprimir <p-sortIcon field="rating"></p-sortIcon></th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-form>
        <tr>
          <td>{{ form.nro_formulario }}</td>
          <td>{{ form.razon_social }}</td>
          <td>{{ form.lote }}</td>
          <td>{{ form.fecha_creacion | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ form.fecha_vencimiento | date:'dd/MM/yyyy HH:mm' }}</td>
          <td style="width:5%; min-width:5rem;">
            <div class="trancas-container" *ngIf="form.control_trancas?.length>0">
                <div *ngFor="let tranca of form.control_trancas; let j = index"
                    class="tranca-item tranca-color-{{j % 10}}"
                    (click)="showTrancaDetail(tranca)" style="cursor: pointer;"
                >
                    <div class="tranca-nombre">{{ tranca.nombre_tranca }}</div>
                    <div class="tranca-fecha">{{ tranca.fecha_inspeccion | date:'dd/MM/yyyy'}}</div>
                    <div class="tranca-hora">{{ tranca.fecha_inspeccion | date:'HH:mm' }}</div>
                </div>
                <div *ngIf="!form.control_trancas || form.control_trancas.length === 0"
                     class="sin-trancas">
                    Sin Control en Trancas
                </div>
            </div>
        </td>
          <td>
            <div class="flex">
                <div *ngIf="form.estado === 'GENERADO'" class="custom-tag generado-tag">
                    GENERADO
                  </div>

                  <div *ngIf="form.estado === 'EMITIDO'" class="custom-tag emitido-tag">
                    EMITIDO
                  </div>

                  <div *ngIf="form.estado === 'VENCIDO'" class="custom-tag vencido-tag">
                    VENCIDO
                  </div>

                  <div *ngIf="form.estado === 'ANULADO'" class="custom-tag anulado-tag">
                    ANULADO
                  </div>
            </div>
          </td>
            <td>
                <div class="flex">
                    <button *ngIf="form.estado === 'GENERADO' && canEditarFormularioExterno.canActivate()"
                    pButton pRipple icon="pi pi-pencil" label="Modificar"
                    class="p-button-outlined p-button-warning mr-2"
                    routerLink="/admin/formulario-101/formulario-externo/editar/{{form?.id}}"
                    ></button>

                    <button *ngIf="form.estado === 'GENERADO'" pButton pRipple icon="pi pi-lock" label="Emitir" class="p-button-outlined p-button-success mr-2" (click)="confirmarEmision(form)"></button>
                    <button *ngIf="form.estado !== 'GENERADO' && form.estado !== 'ANULADO' && vigenteAnulacion(form) && canAnularFormularioExterno.canActivate()"
                    pButton pRipple icon="pi pi-trash" label="Anular"
                    class="p-button-outlined p-button-danger mr-2"
                    routerLink="/admin/formulario-101/formulario-externo/anular/{{form?.id}}"></button>
                    </div>
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-print"
                    class="p-button-outlined p-button-info mr-2" (click)="generarPDF(form)
                    "
                    *ngIf="canImprimirFormularioExterno.canActivate()"
                    ></button>
                </div>
            </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">No se encontraron registros</td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmaciİn" key="confirm1" icon="pi pi-exclamation-triangle"
      message="¿Estás seguro de emitir el formulario?"
      [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text"
      rejectButtonStyleClass="p-button-text" acceptLabel="Sí" rejectLabel="No">
    </p-confirmDialog>
  </div>

