
<form [formGroup]="aduana.formulario" (ngSubmit)="onSubmit()">
    <p-dialog (onShow)="actualizarMapa()" [(visible)]="mapaDialogo" [style]="{width: '800px',height:'800px'}" header="Mapa (Hacer click en el lugar que desee)" [modal]="true" class="p-fluid">
        <div style="height: 90%;" leaflet [leafletOptions]="options" [leafletLayers]="[streetLayer,satelliteLayer]" (leafletMapReady)="onMapReady($event)"></div>
        <div class="grid p-fluid" >
            <div class="col-12 md:col-6">
                <button (click)="agregarPunto()" pButton pRipple type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-info" ></button>
            </div>
            <div class="col-12 md:col-6">
                <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-outlined p-button-danger"></button>
            </div>
        </div>
    </p-dialog>


  <div class="card-titulo">
      <h4 class="text-center" style="color: white;">CREACION DE NUEVA ADUANA</h4>
  </div>
      <div class="grid p-fluid">
          <div class="card card-w-title flex flex-wrap col-12">
              
              <div class="col-12" >
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="departamento_id"
                                    [autoDisplayFirst]="false"
                                    [ngModelOptions]="{standalone: true}"
                                    [options]="departamento"
                                    [(ngModel)]="departamento_id"
                                    optionLabel="nombre"
                                    optionValue="id"
                                    (onChange)="cambioDepartamentoMapa($event)"
                                ></p-dropdown>
                                <label for="dropdown">Departamento</label>
                            </span>
                        </div>

                          <div class="field col-12 md:col-2">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="latitud"
                                    pInputText
                                    formControlName="latitud"
                                />
                                <label for="latitud">Latitud </label>
                        <small id="latitud" class="p-error " *ngIf="aduana.esCampoInvalido('latitud')">
                                    {{aduana.getErrorMessage('latitud')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-2">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="longitud"
                                    pInputText
                                    formControlName="longitud"
                                />
                                <label for="longitud">Longitud </label>
                        <small id="longitud" class="p-error " *ngIf="aduana.esCampoInvalido('longitud')">
                                    {{aduana.getErrorMessage('longitud')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <button pButton pRipple type="button" icon="pi pi-map" label="Buscar en Mapa" class="p-button-outlined p-button-info" (click)="abrirMapa()"></button>
                        </div>

                          <div class="field col-12 md:col-2">
                              <span class="p-float-label">
                                  <input
                                      type="text"
                                      id="codigo_aduana"
                                      pInputText
                                      formControlName="codigo_aduana"
                            class="ng-dirty"
                            />
                                  <label for="codigo_aduana">Codigo Aduana</label>
                                <small id="codigo_aduana" class="p-error " *ngIf="aduana.esCampoInvalido('codigo_aduana')">
                                      {{aduana.getErrorMessage('codigo_aduana')}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-7">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="nombre"
                                    pInputText
                                    formControlName="nombre"
                          class="ng-dirty"
                          />
                                <label for="nombre">Nombre</label>
                              <small id="nombre" class="p-error " *ngIf="aduana.esCampoInvalido('nombre')">
                                    {{aduana.getErrorMessage('nombre')}}
                              </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="estados"
                                    formControlName="estado"
                                    optionLabel="label"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'usuario-badge estado-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                    
                                <label for="dropdown">Estado</label>
                            </span>
                        </div>

                      </div>
                  </div>
                  
                  

                  <div class="centrar-botones">
                    
                      <div class="col-33">
                          <button pButton pRipple type="button" label="Guardar"
                          class="p-button-outlined p-button-info  boton-ajustado"
                          (click)="guardar()"
                          icon="pi pi-save"
                          >
                          </button>
                      </div>
                      <div class="col-33">
                          <button pButton pRipple type="button" label="Cancelar"
                          class="p-button-outlined p-button-danger boton-ajustado"
                          icon="pi pi-trash"></button>
                      </div>

                  </div>
              </div>

          </div>
</form>
