<span class="p-float-label">
    <p-dropdown
        inputId="dropdown_aduana"
        [autoDisplayFirst]="false"
        [options]="aduanas"
        [loading]="loading"
        [(ngModel)]="aduana_id"
        optionLabel="nombre"
        optionValue="id"
        dataKey="value"
        (onChange)="cambioAduanas($event)"
        [appendTo]="'body'"
    ></p-dropdown>

    <label for="dropdown_aduana">Aduana de Salida</label>
</span>

<small id="dropdown_aduana_error" class="p-error" *ngIf="error">
{{ error }}
</small>
