<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Generar Toma de Muestras" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/admin/toma-de-muestra/crear"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                <!--    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="generarIDOM(usuario)"></button>
                --></ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaTomaDeMuestras" [columns]="cols" responsiveLayout="scroll" [rows]="30" [globalFilterFields]="['nro_formulario','razon_social','fecha_hora_tdm','estado']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"  selectionMode="multiple" [rowHover]="true" dataKey="id"
            [sortField]="'fecha_hora_tdm'" [sortOrder]="-1">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Tomas de Muestra</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nro_formulario">Nro. de Formulario <p-sortIcon field="nro_formulario"></p-sortIcon></th>
                        <th pSortableColumn="fecha_hora_tdm"> Fecha de Toma de Muestra<p-sortIcon field="fecha_hora_tdm"></p-sortIcon></th>
                        <th pSortableColumn="fecha_hora_tdm">Hora<p-sortIcon field="fecha_hora_tdm"></p-sortIcon></th>
                        <th pSortableColumn="razon_social">Operador Minero<p-sortIcon field="razon_social"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="rating">Acciones <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="rating">Imprimir <p-sortIcon field="rating"></p-sortIcon></th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operador>
                    <tr>

                        <td style="width:10%; min-width:6rem;"><span class="p-column-title">Numero de Formulario</span>
                            {{operador.nro_formulario}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Fecha de Toma de Muestra</span>
                            {{ operador.fecha_hora_tdm | date:'dd/MM/yyyy' }}
                        </td>
                        <td style="width:4%; min-width:5rem;">
                            <span class="p-column-title">Hora de Toma de Muestra</span>
                            {{ operador.fecha_hora_tdm | date:'HH:mm' }}
                            </td>
                        <td style="width:25%; min-width:8rem;">
                            <span class="p-column-title">Razon Social</span>
                            {{operador.razon_social}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            <div class="flex">
                                <div *ngIf="operador.estado === 'GENERADO'" class="custom-tag generado-tag">
                                    GENERADO
                                  </div>

                                  <div *ngIf="operador.estado === 'SOLICITADO'" class="custom-tag solicitado-tag">
                                    SOLICITADO
                                  </div>

                                  <div *ngIf="operador.estado === 'EMITIDO'" class="custom-tag aprobado-tag">
                                    EMITIDO
                                  </div>
                                  <div *ngIf="operador.estado === 'APROBADO'" class="custom-tag firmado-tag">
                                    APROBADO
                                  </div>

                                  <div *ngIf="operador.estado === 'ANULADO'" class="custom-tag anulado-tag">
                                    ANULADO
                                  </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button  pButton pRipple icon="pi pi-eye" (click)="verSolicitud(operador)"  class="p-button-outlined p-button-info mr-2" ></button>
                                <button *ngIf="operador.estado === 'GENERADO'" pButton pRipple icon="pi pi-pencil" class="p-button-outlined p-button-warning mr-2" routerLink="/admin/toma-de-muestra/editar/{{operador?.id}}"></button>
                                <button *ngIf="operador.estado === 'SOLICITADO'" pButton pRipple icon="pi pi-check-circle" (click)="aprobarSolicitud(operador)" label="Emitir" class=" p-button-outlined p-button-info mr-2" ></button>
                                <button *ngIf="operador.estado === 'GENERADO'" pButton pRipple icon="pi pi-send" (click)="confirmarSolicitud(operador)" label="Solicitar" class="p-button-outlined p-button-success mr-2" ></button>
                                <button *ngIf="operador.estado !== 'EMITIDO' && operador.estado !== 'APROBADO' && operador.estado !== 'ANULADO'" pButton pRipple icon="pi pi-trash" label="Anular" class="p-button-outlined p-button-danger mr-2" routerLink="/admin/toma-de-muestra/anular/{{operador?.id}}"></button>
                                </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-print"  class="p-button-outlined p-button-info mr-2" (click)="generarPDF(operador)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
                                    [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
                                    acceptLabel="Sí"
                                    rejectLabel="No"
                                >
            </p-confirmDialog>
        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}"
          [modal]="true" header="{{isEditMode ? 'Emisión de Toma de Muestra' : 'Agregar Responsable'}}"
          class="p-fluid">
            <app-aprobar-procedimiento
                [tmd]="tomaDeMuestra"
                [isEditMode]="isEditMode"
                (estadoDialogo)="cerrar($event)">
            </app-aprobar-procedimiento>
        </p-dialog>

        <p-dialog [(visible)]="verDialog" [style]="{width: '700px'}"
            [modal]="true" header="Estado de Toma de Muestra"
            class="p-fluid">
            <app-ver-toma-de-muestra
                [id]="toma_de_muestra_id"
                (estadoDialogo)="cerrar($event)">
            </app-ver-toma-de-muestra>
        </p-dialog>

        </div>
    </div>
</div>
