html {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
/*parsley*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  color: #f8adb9;
  opacity: 1;
}
/*fin parsley*/
::-webkit-input-placeholder {
  color: #ccc;
} /* WebKit */
::-moz-placeholder {
  color: #999;
} /* Firefox 19+ */
input {
  color: #333;
}
a {
  color: #1f8dd6;
  text-decoration: none;
}
body {
  background: #eee;
  color: #777;
}
table {
  font-size: 0.8em;
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-child(odd) {
  background: #ddd;
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:hover {
  color: #000;
  background: #f8ffba;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 2px 6px 2px 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.par {
  background: white;
}
.impar {
  background: #eee;
}
.rojo {
  color: red;
}
/*paginacion*/
ul.tsc_pagination {
  margin: 4px 0;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  font: 12px 'Tahoma';
  list-style-type: none;
}
ul.tsc_pagination li {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
}

ul.tsc_pagination li a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 7px 10px 7px 10px;
}
ul.tsc_paginationA li a {
  color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
ul.tsc_paginationA01 li a {
  color: #474747;
  border: solid 1px #b6b6b6;
  padding: 6px 9px 6px 9px;
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #ffffff 1px, #f3f3f3 1px, #e6e6e6);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.02, #ffffff),
    color-stop(0.02, #f3f3f3),
    color-stop(1, #e6e6e6)
  );
}
ul.tsc_paginationA01 li:hover a,
ul.tsc_paginationA01 li.current a {
  background: #ffffff;
}
/*fin  paginacion*/

.derecha {
  text-align: right;
}
.centro {
  text-align: center;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}

#main {
  padding-bottom: 1em;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
  margin-bottom: 50px;
  line-height: 1.6em;
}
.fondo {
  background-image: url('../img/back.jpg');
}
.sub_content {
  padding: 1em 1em 0 1em;
}
.responsivo {
  width: 100%;
}
.titulo_pagina {
  position: inherit;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.sub_titulo_pagina {
  color: #000;
  text-align: right;
}
.header {
  background: #77021f;
  margin: 0;
  color: #333;
  text-align: center;
  height: 36px;
  padding-top: 8px;
  box-sizing: border-box;
}
.header h1 {
  color: #fff;
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  color: #ffffff;
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}
.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}
.ocultar {
  display: none;
}
.accion {
  background: #fff;
  margin: 1em;
  border-radius: 5px;
}
.edicion {
  background: #fff3d2;
  margin: 1em;
  border-radius: 5px;
}
.borde {
  border: 1px solid #aaa;
}
.titulo_sub_menu {
  margin: 1em 1em;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -150px; /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  font-size: 15px;
  -webkit-overflow-scrolling: touch;
}
/*
    All anchors inside the menu should be styled like this.
    */
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

/*
    Remove all background/borders, since we are applying them to #menu.
    */
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
    Add that light border to separate items into groups.
    */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
/*
        Change color of the anchor links on hover/focus.
        */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
    This styles the selected menu item `<li>`.
    */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #77021f;
}
/*
        This styles a link within a selected menu item `<li>`.
        */
#menu .pure-menu-selected a {
  color: #fff;
}

/*
    This styles the menu heading.
    */
#menu .pure-menu-heading {
  color: #fff;
  margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: ' ';
}

.menu-link span:after {
  margin-top: 0.6em;
}
.div_success {
  color: #60ac35;
  background: #d9f5c9;
  margin-bottom: 1em;
  border-radius: 5px;
}
.div_alert {
  color: #aa3a3a;
  background: #fbcfcf;
  margin-bottom: 1em;
  border-radius: 5px;
}
.footer {
  font-size: 0.8em;
  opacity: 0.8;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  background-color: #ccc;
  color: #000;
  padding-right: 2em;
  text-align: right;
}

.anulado {
  color: #ca3211;
  margin-top: 5px;
  margin-bottom: 4px;
}
.cover-background {
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.form-ingreso-padre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.espaciado {
  height: 250px;
}
.form-ingreso {
  margin-top: 2em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(151, 151, 151);
  box-shadow: 2px 2px 8px rgb(104, 104, 104);
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  /*  table { 
    font-size: 1em;
    width: 100%; 
    border-collapse: collapse; 
  }*/
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  .sub_content {
    padding: 2em 0 0 0;
  }
  .responsivo {
    width: auto;
  }

  #layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 150px;
  }

  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  #layout.active .menu-link {
    left: 150px;
  }
  .titulo_pagina {
    text-align: center;
    color: #fff;
  }
  .sub_titulo_pagina {
    color: #ccc;
  }
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
  #layout.active {
    position: relative;
    left: 150px;
  }
}
/*preloader*/
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff none repeat scroll 0% 0%;
  z-index: 99999;
}

#page-loader .preloader-interior {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#page-loader .preloader-interior:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#page-loader .preloader-interior:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
.footer0 {
  font-size: 0.8em;
  opacity: 0.8;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  background-color: #ccc;
  color: #000;
  padding-right: 2em;
  text-align: center;
}
