

<form [formGroup]="form.formulario" (ngSubmit)="onSubmit()">
    <app-ver-toma-de-muestra [id]="tmd.id"></app-ver-toma-de-muestra>
    <div class="field col-12 md:col-12" *ngIf="!admin">
        <span class="p-float-label mt-5">
            <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="listaResponsableSenarecom"
                formControlName="responsable_tdm_senarecom_id"
                optionLabel="fullName"
                optionValue="id"
                (ngModelChange)="onChangeOperadores($event)"
            ></p-dropdown>

            <label for="dropdown">Responsable de Senarecom</label>
        </span>
    </div>
    <div class="field col-12 md:col-12">
        <p-fileUpload
          #fileUploadComponent
          mode="advanced"
          accept=".pdf,.jpg,.jpeg,.png"
          [maxFileSize]="10000000"
          label="Cargar SEPREC"
          chooseLabel="Subir Foto de "
          class="w-full inline-block"
          [auto]="true"
          [showUploadButton]="true"
          [showCancelButton]="true"
          (onSelect)="onFileSelect($event)"
        >
        </p-fileUpload>
      </div>



    <div class="card-procedimiento">
        <h5 class="text-center"><strong>PROCEDIMIENTO</strong></h5>

    </div>

    <div class="field-checkbox mr-2">
      <!-- Mostrar los checkboxes para cada procedimiento -->
      <div class="grid-container">
        <div *ngFor="let procedimiento of procedimientos" class="grid-item">
          <input type="checkbox"
                 class="custom-checkbox"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="procedimiento.selected" />
          <label>{{ procedimiento.nombre }}</label>
        </div>
      </div>
    </div>

    <!-- Mostrar la descripción del procedimiento si el checkbox está marcado -->
    <div *ngFor="let procedimiento of procedimientos">
      <div *ngIf="procedimiento.selected">
        <ul>
            <li *ngFor="let muestra of procedimiento.muestras" class="alinear-muestra">
                <input type="checkbox"
                        class="custom-checkbox"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="muestra.selected"
                        (change)="onCheckboxChange($event, muestra)" />
                <strong>

                    {{muestra.descripcion+':'}}
                </strong>
                <span>
                        {{ muestra.nombre }}
                </span>
            </li>
        </ul>
      </div>
    </div>
    <div class="field col-12 md:col-3">
        <div class="field-checkbox">
            <p-inputSwitch (onChange)="switchCaracterizacion($event)"></p-inputSwitch>
            <label for="sf">Caracterización</label>
        </div>

    </div>
    <div class="field col-12 md:col-12">
        <span class="p-float-label">
            <textarea
                id="observaciones"
                pInputTextarea
                formControlName="observaciones"
                class="ng-dirty"
                rows="4"
                cols="150"
            ></textarea>
            <label for="observaciones">Observaciones</label>
            <small id="observaciones" class="p-error" *ngIf="form.esCampoInvalido('observaciones')">
                {{ form.getErrorMessage('observaciones') }}
            </small>
        </span>
    </div>

    <div class="botones-derecha">
        <span class="p-buttonset col-12 md:col-8 ">
            <button pButton pRipple label="Aprobar Toma de Muestra" class="p-button-secondary" icon="pi pi-check" type="submit"></button>
            <button pButton pRipple label="Cancelar"  class="p-button-danger" icon="pi pi-trash" (click)="ocultarDialogo()"></button>
        </span>
    </div>
</form>

