<span class="p-float-label">
    <p-dropdown
        inputId="dropdown"
        [autoDisplayFirst]="false"
        [options]="vehiculos"
        [(ngModel)]="placa"
        [filter]="true"
        filterBy="placa"
        optionLabel="placa"
        optionValue="placa"
        optionValue="placa"
        (onChange)="cambioVehiculo($event)"
        [appendTo]="'body'"
    ></p-dropdown>
    <label for="dropdown">Placa Vehiculo</label>
    <small id="presentacion" class="p-error " *ngIf="error">
        {{error}}
    </small>
</span>
