<span class="p-float-label">
    <p-dropdown
        inputId="dropdown"
        [autoDisplayFirst]="false"
        [options]="compradores"
        [(ngModel)]="razon_social"
        [filter]="true"
        filterBy="razon_social"
        optionLabel="razon_social"
        optionValue="razon_social"
        (onChange)="cambioComprador($event)"
    ></p-dropdown>
    <label for="dropdown">Compradores</label>
    <small id="presentacion" class="p-error " *ngIf="error">
        {{error}}
    </small>
</span>
