<form [formGroup]="form.formulario" (ngSubmit)="onSubmit()">
    <div class="field">
        <span class="p-float-label mt-5">
            <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="roles"
                formControlName="rol_id"
                optionLabel="nombre"
                optionValue="id"
                (onChange)="onChangeRol($event)"
            ></p-dropdown>
            <label for="dropdown">Nivel de Usuario</label>
            <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('rol_id')">{{form.getErrorMessage('rol_id')}}</small>
        </span>
    </div>
    <div class="field">
        <label for="ci">Cedula de Identidad</label>
        <input type="text" pInputText id="ci" formControlName="ci" autofocus/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('ci')">{{form.getErrorMessage('ci')}}</small>
    </div>
    <div class="field">
        <label>Nombre:</label>
        <input type="text" pInputText id="nombre" formControlName="nombre"  autofocus />
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('nombre')">{{form.getErrorMessage('nombre')}}</small>
    </div>
    <div class="field">
        <label for="apellidos">Apellidos</label>
        <input type="text" pInputText id="apellidos" formControlName="apellidos" autofocus/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('apellidos')">{{form.getErrorMessage('apellidos')}}</small>
    </div>
    <div class="field">
        <label for="email">Correo Electrónico</label>
        <input type="text" pInputText id="email" formControlName="email" autofocus (input)="errorEmailRepetido($event)"/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('email') || errorVerificarEmail" >{{form.getErrorMessage('email')}}</small>
        <small class="ng-dirty ng-invalid" *ngIf="errorVerificarEmail" >El email ya existe en el sistema</small>
    </div>
    <div class="field">
        <label for="celular">Celular</label>
        <input type="text" pInputText id="celular" formControlName="celular" autofocus/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('celular')">{{form.getErrorMessage('celular')}}</small>
    </div>
    <div *ngIf="admin && !isEditMode">
        <div class="field">
            <label for="password">Contraseña</label>
            <input type="password" pInputText id="password" formControlName="password" autofocus/>
            <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('password')">{{form.getErrorMessage('password')}}</small>
        </div>
        <div class="field">
            <label for="repetir_password">Repetir Contraseña</label>
            <input type="password" pInputText id="repetir_password" formControlName="repetir_password" autofocus (input)="verificar($event)"/>
            <small class="ng-dirty ng-invalid" *ngIf="errorPassword()">Las contraseñas no coinciden</small>
        </div>
    </div>
    <div class="field" *ngIf="!admin">
        <span class="p-float-label mt-5">
            <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="operadores"
                formControlName="operador_id"
                optionLabel="razon_social"
                optionValue="id"
            ></p-dropdown>

            <label for="dropdown">Operador Minero</label>
        </span>
    </div>
    <div class="field">
        <span class="p-float-label mt-5">
            <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="estados"
                formControlName="estado"
                optionLabel="label"
            >
                <ng-template let-option pTemplate="item">
                    <span [class]="'usuario-badge estado-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>

            <label for="dropdown">Estado</label>
        </span>
    </div>
    <div class="botones-derecha">
        <span class="p-buttonset col-12 md:col-6 ">
            <button pButton pRipple label="Guardar" class="p-button-secondary" icon="pi pi-check" type="submit"></button>
            <button pButton pRipple label="Cancelar"  class="p-button-danger" icon="pi pi-trash" (click)="ocultarDialogo()"></button>
        </span>
    </div>
</form>

