<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaUsuarios" [columns]="cols" responsiveLayout="scroll" [rows]="30" [globalFilterFields]="['id','email','nombre','apellidos','ci','estado','razon_social']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Usuarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre y Apellido <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="rol_id">Nivel <p-sortIcon field="rol_id"></p-sortIcon></th>
                        <th>Razon Social</th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>

                        <td style="width:3%; min-width:6rem;"><span class="p-column-title">ID</span>
                            {{usuario.id}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">Nombres y Apellidos</span>
                            {{usuario.nombre+' '+usuario.apellidos}}
                        </td>
                        <td style="width:5%; min-width:5rem;">
                            <span class="p-column-title">Email</span>
                            {{usuario.email}}
                          </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">Nivel</span>
                            {{userRol(usuario.rol_id)}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">Razon Social</span>
                            {{usuario.razon_social || userOperador(usuario.operador_id)}}
                        </td>
                        <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Estado</span>

                            <p-tag severity="success" *ngIf="usuario.estado=='ACTIVO'" value="ACTIVO"></p-tag>
                            <p-tag severity="danger" *ngIf="usuario.estado=='INACTIVO'" value="INACTIVO"></p-tag>
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="edit(usuario)"></button>
                                <button pButton pRipple  label="Resetear Contraseña" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="resetPassword(usuario)"></button>
                                <button pButton pRipple icon="pi pi-lock" *ngIf="usuario.estado === 'ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(usuario)"></button>
                                <button pButton pRipple icon="pi pi-unlock" *ngIf="usuario.estado === 'INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(usuario)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" header="Crear Usuario" [modal]="true" class="p-fluid">
            <app-editar-usuario [usuario]="usuario" [isEditMode]="isEditMode" (estadoDialogo)="cerrar($event)"></app-editar-usuario>
        </p-dialog>
        <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
            acceptLabel="Sí"
            rejectLabel="No"
        ></p-confirmDialog>

    </div>
</div>
