<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple
                        label="Nuevo Formulario de Traslado de Cola"
                        icon="pi pi-plus" class="p-button-success mr-2"
                        routerLink="/public/formulario-101/formulario-traslado-cola/crear"
                        *ngIf="canCrearFormularioTrasladoCola.canActivate()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                <!--    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="generarIDOM(usuario)"></button>
                --></ng-template>
            </p-toolbar>

            <p-table #dt
                [value]="listaFormularioTrasladoColas"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="rows"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30,50]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [totalRecords]="totalRecords"
                [lazy]="true"
                (onPage)="onPageChange($event)"
                (onSort)="onSort($event)"
                dataKey="id"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
                [globalFilterFields]="['nro_formulario','razon_social','fecha_creacion','estado','fecha_vencimiento']">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Formulario de Traslado de Colas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Numero de Formulario <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="fecha_creacion"> Fecha Creacion <p-sortIcon field="fecha_creacion"></p-sortIcon></th>
                        <th pSortableColumn="razon_social">Razon Social<p-sortIcon field="razon_social"></p-sortIcon></th>
                        <th pSortableColumn="fecha_vencimiento">Fecha Vencimiento <p-sortIcon field="fecha_vencimiento"></p-sortIcon></th>
                        <th>
                            Trancas Trancitadas
                        </th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="rating">Acciones <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="rating">Imprimir <p-sortIcon field="rating"></p-sortIcon></th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-form>
                    <tr>

                        <td style="width:10%; min-width:6rem;"><span class="p-column-title">Numero de Formulario</span>
                            {{form.nro_formulario}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Fecha Creacion</span>
                            {{form.fecha_creacion | date: 'HH:mm:ss dd/MM/yyyy'}}
                        </td>
                        <td style="width:24%; min-width:16rem;">
                            <span class="p-column-title">Razon Social</span>
                            {{form.razon_social}}
                            </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Fecha Vencimiento</span>
                            {{form.fecha_vencimiento | date: 'HH:mm:ss dd/MM/yyyy'}}
                        </td>
                        <td style="width:5%; min-width:5rem;">
                            <div class="trancas-container" *ngIf="form.control_trancas?.length>0">
                                <div *ngFor="let tranca of form.control_trancas; let j = index"
                                    class="tranca-item tranca-color-{{j % 10}}"
                                    (click)="showTrancaDetail(tranca)" style="cursor: pointer;"
                                >
                                    <div class="tranca-nombre">{{ tranca.nombre_tranca }}</div>
                                    <div class="tranca-fecha">{{ tranca.fecha_inspeccion | date:'dd/MM/yyyy'}}</div>
                                    <div class="tranca-hora">{{ tranca.fecha_inspeccion | date:'HH:mm' }}</div>
                                </div>
                                <div *ngIf="!form.control_trancas || form.control_trancas.length === 0"
                                     class="sin-trancas">
                                    Sin Control en Trancas
                                </div>
                            </div>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            <div class="flex">
                                <div *ngIf="form.estado === 'GENERADO'" class="custom-tag generado-tag">
                                    GENERADO
                                  </div>

                                  <div *ngIf="form.estado === 'EMITIDO'" class="custom-tag emitido-tag">
                                    EMITIDO
                                  </div>

                                  <div *ngIf="form.estado === 'VENCIDO'" class="custom-tag vencido-tag">
                                    VENCIDO
                                  </div>

                                  <div *ngIf="form.estado === 'ANULADO'" class="custom-tag anulado-tag">
                                    ANULADO
                                  </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="form.estado === 'GENERADO' && canEditarFormularioTrasladoCola.canActivate()"
                                pButton pRipple icon="pi pi-pencil" label="Modificar"
                                class="p-button-rounded p-button-warning mr-2"
                                routerLink="/public/formulario-101/formulario-traslado-cola/editar/{{form?.id}}"
                                ></button>

                                <button *ngIf="form.estado === 'GENERADO'" pButton pRipple icon="pi pi-lock" label="Emitir" class="p-button-rounded p-button-success mr-2" (click)="confirmarEmision(form)"></button>
                                <button *ngIf="form.estado !== 'GENERADO' && form.estado !== 'ANULADO' && canAnularFormularioTrasladoCola.canActivate()"
                                pButton pRipple icon="pi pi-trash" label="Anular"
                                class="p-button-rounded p-button-danger mr-2"
                                routerLink="/public/formulario-101/formulario-traslado-cola/anular/{{form?.id}}"></button>
                                </div>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-print"
                                    class="p-button-rounded p-button-info mr-2" (click)="generarPDF(form)"
                                    *ngIf="canImprimirFormularioTrasladoCola.canActivate()"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
                [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
                acceptLabel="Sí"
                rejectLabel="No"
            ></p-confirmDialog>
        </div>
    </div>
</div>
