<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Operador Minero"
                        icon="pi pi-plus" class="p-button-success mr-2"
                        routerLink="/admin/operador/crear"
                        *ngIf="canCrearOperator.canActivate()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="generarIDOM(usuario)"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaOperadores" [columns]="cols" responsiveLayout="scroll"
            [rows]="30"
            [globalFilterFields]="['id','razon_social','dl_direccion','estado','rep_nombre_completo']"
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"
            selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Operadores Mineros</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id">IDOM <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="razon_social">Razon Social <p-sortIcon field="razon_social"></p-sortIcon></th>
                        <th pSortableColumn="fecha_expiracion">Vigencia IDOM <p-sortIcon field="fecha_expiracion"></p-sortIcon></th>
                        <th pSortableColumn="fecha_exp_nim">Vigencia NIM <p-sortIcon field="fecha_exp_nim"></p-sortIcon></th>
                        <th pSortableColumn="fecha_exp_seprec">Vigencia SEPREC <p-sortIcon field="fecha_exp_seprec"></p-sortIcon></th>
                        <th pSortableColumn="fecha_exp_ruex">Vigencia RUEX <p-sortIcon field="fecha_exp_ruex"></p-sortIcon></th>
                        <th pSortableColumn="category">Documentos <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Mapa <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operador>
                    <tr>

                        <td style="width:14%; min-width:6rem;"><span class="p-column-title">IDOM</span>
                            {{operador.id}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">razon_social</span>
                            {{operador.razon_social}}
                        </td>
                        <td style="width:10%; min-width:5rem;" >
                            <div *ngIf="operador.fecha_expiracion">
                                <p-tag severity="success" *ngIf="diasActivos(operador.fecha_expiracion)>5" value="{{diasActivos(operador.fecha_expiracion)+' dias'}}"></p-tag>
                                <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_expiracion)<5 && diasActivos(operador.fecha_expiracion)>0" value="{{diasActivos(operador.fecha_expiracion)+' dias'}}"></p-tag>
                                <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_expiracion)<1" value="{{diasActivos(operador.fecha_expiracion)+' dias'}}"></p-tag>
                            </div>
                        </td>
                        <td style="width:10%; min-width:5rem;" >
                            <div *ngIf="operador.fecha_exp_nim">
                                <p-tag severity="success" *ngIf="diasActivos(operador.fecha_exp_nim)>5" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                                <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_exp_nim)<5 && diasActivos(operador.fecha_exp_nim)>0" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                                <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_exp_nim)<1" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                            </div>
                        </td>
                        <td style="width:10%; min-width:5rem;" >
                            <div *ngIf="operador.fecha_exp_seprec">
                                <p-tag severity="success" *ngIf="diasActivos(operador.fecha_exp_seprec)>5" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                                <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_exp_seprec)<5 && diasActivos(operador.fecha_exp_seprec)>0" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                                <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_exp_seprec)<1" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                            </div>
                        </td>
                        <td style="width:10%; min-width:5rem;" >
                            <div *ngIf="operador.fecha_exp_ruex">
                                <p-tag severity="success" *ngIf="diasActivos(operador.fecha_exp_ruex)>5" value="{{diasActivos(operador.fecha_exp_ruex)+' dias'}}"></p-tag>
                                <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_exp_ruex)<5 && diasActivos(operador.fecha_exp_ruex)>0" value="{{diasActivos(operador.fecha_exp_ruex)+' dias'}}"></p-tag>
                                <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_exp_ruex)<1" value="{{diasActivos(operador.fecha_exp_ruex)+' dias'}}"></p-tag>
                            </div>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            <div class="flex">
                                <button *ngIf="operador.ci_link"
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                    (click)="abrirPdf(operador.ci_link)">
                                    CI
                                </button>
                                <button *ngIf="operador.nit_link"
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                    (click)="abrirPdf(operador.nit_link)">
                                    NIT
                                </button>
                                <button *ngIf="operador.nim_link"
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                    (click)="abrirPdf(operador.nim_link)">
                                    NIM
                                </button>
                                <button *ngIf="operador.seprec_link"
                                        pButton
                                        pRipple
                                        type="button"
                                        class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                        (click)="abrirPdf(operador.seprec_link)">
                                    SEPREC
                                </button>
                                <button *ngIf="operador.ruex_link"
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                    (click)="abrirPdf(operador.ruex_link)">
                                    RUEX
                                </button>
                                <button *ngIf="operador.doc_explotacion_link"
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button p-button-outlined mr-1 btn-minimal-padding"
                                    (click)="abrirPdf(operador.doc_explotacion_link)">
                                    Explotación
                                </button>
                                <button pButton pRipple type="button" class="p-button p-button-info p-button-outlined mr-1 btn-minimal-padding" (click)="generarIDOM(operador)">IDOM</button>
                                <app-idom></app-idom>
                            </div>
                            </td>
                        <td style="width:8%; min-width: 5rem;">
                        <span class="p-column-title">Reviews</span>
                            <button pButton pRipple icon="pi pi-map-marker"
                                    type="button"
                                    class="p-button p-button-outlined p-button-help btn-minimal-padding"
                                    (click)="openGoogleMaps(operador.ofi_lat, operador.ofi_lon)"
                                    [disabled]="!operador.ofi_lat || !operador.ofi_lon"
                                    pTooltip="Ver ubicación en Google Maps" tooltipPosition="top">
                            </button>
                        </td>
                        <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Status</span>

                            <p-tag severity="success" *ngIf="operador.estado=='ACTIVO'" value="ACTIVO"></p-tag>
                            <p-tag severity="danger" *ngIf="operador.estado=='INACTIVO'" value="INACTIVO"></p-tag>
                            </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarOperador(operador)" *ngIf="canEditarOperator.canActivate()"></button>
                                <button pButton pRipple icon="pi pi-lock" *ngIf="operador.estado === 'ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(operador)"></button>
                                <button pButton pRipple icon="pi pi-unlock" *ngIf="operador.estado === 'INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(operador)"></button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
            acceptLabel="Sí"
            rejectLabel="No"
        ></p-confirmDialog>
    </div>
</div>
