<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Operador Minero"
                        icon="pi pi-plus" class="p-button-success mr-2"
                        routerLink="/admin/operador/crear"
                        *ngIf="canCrearOperator.canActivate()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="generarIDOM(usuario)"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaOperadores" [columns]="cols" responsiveLayout="scroll" [rows]="30" [globalFilterFields]="['id','razon_social','dl_direccion','estado','rep_nombre_completo']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Operadores Mineros</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id">IDOM <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="razon_social">Razon Social <p-sortIcon field="razon_social"></p-sortIcon></th>
                        <th pSortableColumn="fecha_exp_nim">Vigencia NIM <p-sortIcon field="fecha_exp_nim"></p-sortIcon></th>
                        <th pSortableColumn="fecha_exp_seprec">Vigencia SEPREC <p-sortIcon field="fecha_exp_seprec"></p-sortIcon></th>
                        <th pSortableColumn="category">Documentos <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Mapa <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-operador>
                    <tr>

                        <td style="width:14%; min-width:6rem;"><span class="p-column-title">IDOM</span>
                            {{operador.id}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">razon_social</span>
                            {{operador.razon_social}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">fecha_exp_nim</span>
                            <p-tag severity="success" *ngIf="diasActivos(operador.fecha_exp_nim)>5" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                            <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_exp_nim)<5 && diasActivos(operador.fecha_exp_nim)>0" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                            <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_exp_nim)<1" value="{{diasActivos(operador.fecha_exp_nim)+' dias'}}"></p-tag>
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">fecha_exp_seprec</span>
                            <p-tag severity="success" *ngIf="diasActivos(operador.fecha_exp_seprec)>5" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                            <p-tag severity="warning" *ngIf="diasActivos(operador.fecha_exp_seprec)<5 && diasActivos(operador.fecha_exp_seprec)>0" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                            <p-tag severity="danger" *ngIf="diasActivos(operador.fecha_exp_seprec)<1" value="{{diasActivos(operador.fecha_exp_seprec)+' dias'}}"></p-tag>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            <div class="flex">
                                <button pButton pRipple type="button" class="p-button-rounded p-button-outlined mr-1" (click)="editProduct(operador)">NIT</button>
                                <button pButton pRipple type="button" class="p-button-rounded p-button-secondary p-button-outlined mr-1" (click)="editProduct(operador)">NIM</button>
                                <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined mr-1" (click)="generarIDOM(operador)">IDOM</button>
                                <app-idom></app-idom>
                            </div>
                            </td>
                        <td style="width:8%; min-width: 5rem;"><span class="p-column-title">Reviews</span>
                            <button pButton pRipple icon="pi pi-map-marker" type="button" class="p-button-rounded p-button-help mr-1" (click)="editProduct(operador)"></button>
                        </td>
                        <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Status</span>

                            <p-tag severity="success" *ngIf="operador.estado=='ACTIVO'" value="ACTIVO"></p-tag>
                            <p-tag severity="danger" *ngIf="operador.estado=='INACTIVO'" value="INACTIVO"></p-tag>
                            </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(operador)" *ngIf="canEditarOperator.canActivate()"></button>
                                <button pButton pRipple icon="pi pi-lock" *ngIf="operador.estado === 'ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(operador)"></button>
                                <button pButton pRipple icon="pi pi-unlock" *ngIf="operador.estado === 'INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(operador)"></button>

                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
            acceptLabel="Sí"
            rejectLabel="No"
        ></p-confirmDialog>
    </div>
</div>
