<form [formGroup]="form.formulario" (ngSubmit)="onSubmit()">
    
    <div class="field">
        <label>Nombre:</label>
        <input type="text" pInputText id="nombre" formControlName="nombre"  autofocus />
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('nombre')">{{form.getErrorMessage('nombre')}}</small>
    </div>
    <div class="field">
        <label for="sigla">Sigla</label>
        <input type="text" pInputText id="sigla" formControlName="sigla" autofocus/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('sigla')">{{form.getErrorMessage('sigla')}}</small>
    </div>
    <div class="field">
        <label for="continente">Continente</label>
        <input type="text" pInputText id="continente" formControlName="continente" autofocus/>
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('continente')">{{form.getErrorMessage('continente')}}</small>
    </div>
    <div class="botones-derecha">
        <span class="p-buttonset col-12 md:col-6 ">
            <button pButton pRipple label="Guardar" class="p-button-secondary" icon="pi pi-check" type="submit"></button>
            <button pButton pRipple label="Cancelar"  class="p-button-danger" icon="pi pi-trash" (click)="ocultarDialogo()"></button>
        </span>
    </div>
</form>

