<span class="p-float-label">
    <p-dropdown
        inputId="dropdown"
        [autoDisplayFirst]="false"
        [options]="plantaTratamientos"
        [(ngModel)]="nombre"
        [filter]="true"
        filterBy="displayText"
        optionLabel="displayText"
        optionValue="id"
        (onChange)="cambioPlantaTratamiento($event)"
    >
        <!-- Template personalizado para mostrar nombre y municipio -->
        <ng-template pTemplate="item" let-planta>
            <div class="flex align-items-center">
                <div>
                    <div class="font-medium">{{ planta.nombre }}</div>
                    <div class="text-sm text-gray-600">{{ planta.municipio }}</div>
                </div>
            </div>
        </ng-template>

        <!-- Template para el valor seleccionado -->
        <ng-template pTemplate="selectedItem" let-planta>
            <div *ngIf="planta">
                {{ planta.nombre }} - {{ planta.municipio }}
            </div>
        </ng-template>
    </p-dropdown>
    <label for="dropdown">Plantas de Tratamiento</label>
    <small id="planta_de_tratamiento" class="p-error" *ngIf="error">
        {{error}}
    </small>
</span>
