<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Procedimiento" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaProcedimientos" [columns]="cols" responsiveLayout="scroll" [rows]="30" [globalFilterFields]="['id','nombre','procedimiento']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"  selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Procedimiento de Toma de Muestras</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="procedimiento">Procedimiento <p-sortIcon field="procedimiento"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>

                        <td style="width:3%; min-width:5rem;"><span class="p-column-title">ID</span>
                            {{usuario.id}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nombres</span>
                            {{usuario.nombre}}
                        </td>
                        <td style="width:35%; min-width:20rem;">
                            <span class="p-column-title">Procedimiento</span>
                            <!-- Usamos [innerHTML] para que Angular interprete el HTML -->
                            <div [innerHTML]="usuario.procedimiento"></div>
                        </td>

                        <td style="width:5%; min-width: 10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="edit(usuario)"></button>
                                <button pButton pRipple icon="pi pi-lock" *ngIf="usuario.estado=='ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(usuario)"></button>
                                <button pButton pRipple icon="pi pi-unlock" *ngIf="usuario.estado=='INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(usuario)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" 
          [modal]="true" header="{{isEditMode ? 'Editar Procedimiento' : 'Agregar Procedimiento'}}" 
          class="p-fluid">
            <app-crear-procedimiento 
                [usuario]="responsable" 
                [isEditMode]="isEditMode" 
                (estadoDialogo)="cerrar($event)">
            </app-crear-procedimiento>
        </p-dialog>
        <p-dialog [(visible)]="productDialog1" [style]="{width: '700px'}" 
          [modal]="true" header="Editar Procedimiento" 
          class="p-fluid">
            <app-editar-procedimiento 
                [lista]="responsable" 
                [isEditMode]="isEditMode" 
                (estadoDialogo)="cerrar1($event)">
            </app-editar-procedimiento>
        </p-dialog>

    </div>
</div>
