<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            *ngIf="canCrearTranca.canActivate()"
                            pButton pRipple label="Nuevo Puesto de Control"
                            icon="pi pi-plus" class="p-button-success mr-2"
                            routerLink="/admin/puesto-control/crear"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaTrancas" [columns]="cols" responsiveLayout="scroll" [rows]="30"
                    [globalFilterFields]="['id','municipioId','nombre','latitud','longitud','estado']"
                    [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"
                    selectionMode="multiple" [rowHover]="true" dataKey="id" [sortField]="'nombre'"
                    [sortOrder]="-1">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Puestos de Control</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre Punto de Control <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">Descripción <p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="nombre_municipio">Municipio <p-sortIcon field="nombre_municipio"></p-sortIcon></th>
                        <th pSortableColumn="mapa">Mapa <p-sortIcon field="mapa"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <!-- Cuerpo de la tabla -->
                <ng-template pTemplate="body" let-tranca>
                    <tr>
                        <td style="width:8%; min-width: 5rem;">{{tranca.id}}</td>
                        <td style="width:15%; min-width: 10rem;">{{tranca.nombre}}</td>
                        <td style="width:30%; min-width: 20rem;">{{tranca.descripcion}}</td>
                        <td>{{tranca.nombre_municipio}}</td>
                        <td style="width:8%; min-width: 5rem;">
                        <span class="p-column-title">Reviews</span>
                            <button pButton pRipple icon="pi pi-map-marker"
                                    type="button"
                                    class="p-button p-button-outlined p-button-help btn-minimal-padding"
                                    (click)="openGoogleMaps(tranca.latitud, tranca.longitud)"
                                    [disabled]="!tranca.latitud || !tranca.longitud"
                                    pTooltip="Ver ubicación en Google Maps" tooltipPosition="top">
                            </button>
                        </td>
                        <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Status</span>

                            <p-tag severity="success" *ngIf="tranca.estado=='ACTIVO'" value="ACTIVO"></p-tag>
                            <p-tag severity="danger" *ngIf="tranca.estado=='INACTIVO'" value="INACTIVO"></p-tag>
                            </td>
                        <td>
                            <div class="flex">
                                <button
                                    *ngIf="canEditarTranca.canActivate()"
                                    pButton pRipple icon="pi pi-pencil"
                                    class="p-button-text p-button-plain p-button-rounded p-button-info mr-1"
                                    (click)="edit(tranca)"
                                ></button>
                                <button
                                    *ngIf="canEliminarTranca.canActivate()"
                                    pButton pRipple icon="pi pi-trash"
                                    class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1"
                                    (click)="eliminar(tranca)"
                                ></button>
                                <div *ngIf="canEditarTranca.canActivate()">
                                    <button pButton pRipple icon="pi pi-lock" *ngIf="tranca.estado === 'ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(tranca)"></button>
                                    <button pButton pRipple icon="pi pi-unlock" *ngIf="tranca.estado === 'INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(tranca)"></button>
                                </div>

                                </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}"
          [modal]="true" header="{{isEditMode ? 'Editar Lugar de Toma de Muestra' : 'Agregar Lugar de Toma de Muestra'}}"
          class="p-fluid">
            <app-crear-tranca
                [tranca]="tranca"
                [isEditMode]="isEditMode"
                (estadoDialogo)="cerrar($event)">
            </app-crear-tranca>
        </p-dialog>
        <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
            acceptLabel="Sí"
            rejectLabel="No"
        ></p-confirmDialog>
    </div>
</div>
