<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            *ngIf="canCrearPlantaDeTratamiento.canActivate()"
                            pButton pRipple label="Nuevo PlantaDeTratamiento"
                            icon="pi pi-plus" class="p-button-success mr-2"
                            routerLink="/admin/planta-tratamiento/crear"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listarPlantaDeTratamientos" [columns]="cols" responsiveLayout="scroll" [rows]="30"
                    [globalFilterFields]="['id','municipio_id','nombre','direccion','longitud','estado']"
                    [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} registros"
                    selectionMode="multiple" [rowHover]="true" dataKey="id" [sortField]="'nombre'"
                    [sortOrder]="-1">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar PlantaDeTratamientoes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Planta de Tratamiento <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="direccion">Dirección <p-sortIcon field="direccion"></p-sortIcon></th>
                        <th pSortableColumn="mapa">Mapa <p-sortIcon field="mapa"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <!-- Cuerpo de la tabla -->
                <ng-template pTemplate="body" let-planta_de_tratamiento>
                    <tr>
                        <td>{{planta_de_tratamiento.id}}</td>
                        <td>{{planta_de_tratamiento.nombre}}</td>
                        <td>{{planta_de_tratamiento.direccion}}</td>
                        <td style="width:8%; min-width: 5rem;">
                        <span class="p-column-title">Reviews</span>
                            <button pButton pRipple icon="pi pi-map-marker"
                                    type="button"
                                    class="p-button p-button-outlined p-button-help btn-minimal-padding"
                                    (click)="openGoogleMaps(planta_de_tratamiento.latitud, planta_de_tratamiento.longitud)"
                                    [disabled]="!planta_de_tratamiento.latitud || !planta_de_tratamiento.longitud"
                                    pTooltip="Ver ubicación en Google Maps" tooltipPosition="top">
                            </button>
                        </td>
                        <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Status</span>

                            <p-tag severity="success" *ngIf="planta_de_tratamiento.estado=='ACTIVO'" value="ACTIVO"></p-tag>
                            <p-tag severity="danger" *ngIf="planta_de_tratamiento.estado=='INACTIVO'" value="INACTIVO"></p-tag>
                            </td>
                        <td>
                            <div class="flex">
                                <button
                                    *ngIf="canEditarPlantaDeTratamiento.canActivate()"
                                    pButton pRipple icon="pi pi-pencil"
                                    class="p-button-text p-button-plain p-button-rounded p-button-info mr-1"
                                    (click)="edit(planta_de_tratamiento)"
                                ></button>
                                <button
                                    *ngIf="canEliminarPlantaDeTratamiento.canActivate()"
                                    pButton pRipple icon="pi pi-trash"
                                    class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1"
                                    (click)="eliminar(planta_de_tratamiento)"
                                ></button>
                                <div *ngIf="canEditarPlantaDeTratamiento.canActivate()">
                                    <button pButton pRipple icon="pi pi-lock" *ngIf="planta_de_tratamiento.estado === 'ACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-danger mr-1" (click)="bloquearDialogo(planta_de_tratamiento)"></button>
                                    <button pButton pRipple icon="pi pi-unlock" *ngIf="planta_de_tratamiento.estado === 'INACTIVO'" class="p-button-text p-button-plain p-button-rounded p-button-info mr-1" (click)="bloquearDialogo(planta_de_tratamiento)"></button>
                                </div>

                                </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-confirmDialog header="Confirmación" key="confirm1" icon="pi pi-exclamation-triangle" message="¿Está seguro de anular el formulario?"
            [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"
            acceptLabel="Sí"
            rejectLabel="No"
        ></p-confirmDialog>
    </div>
</div>
