<div class="card">
    <h2>Detalles de la Toma de Muestra</h2>

    <div class="grid">
        <p><strong>Lote:</strong> <span>{{ tomaDM?.lote }}</span></p>
        <p><strong>Nro de Camiones:</strong> <span>{{ tomaDM?.camiones }}</span></p>
        <p><strong>Peso Aproximado:</strong> <span>{{ tomaDM?.peso_neto }} <small>[Kgs.]</small></span></p>
        <p><strong>Presentación:</strong> <span>{{ tomaDM?.presentacion }}</span></p>
        <p><strong>Elementos:</strong> <span>{{ elementos }}</span></p>
        <p><strong>Ley de Mineral:</strong> <span>{{ ley_mineral }}</span></p>
        <p><strong>Origen del Mineral</strong> <span>{{ municipio }}</span></p>
        <p><strong>Lugar de Muestreo:</strong> <span>{{ tomaDM?.lugar_verificacion }}</span></p>
    </div>
</div>
