
<form [formGroup]="formulario_interno.formulario" (ngSubmit)="onSubmit()">
    <p-dialog (onShow)="actualizarMapa()" [(visible)]="mapaDialogo" [style]="{width: '800px',height:'800px'}" header="Mapa (Hacer click en el lugar que desee)" [modal]="true" class="p-fluid">
        <div style="height: 90%;" leaflet [leafletOptions]="options" [leafletLayers]="[streetLayer,satelliteLayer]" (leafletMapReady)="onMapReady($event)"></div>
        <div class="grid p-fluid" >
            <div class="col-12 md:col-6">
                <button (click)="agregarPunto()" pButton pRipple type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-info" ></button>
            </div>
            <div class="col-12 md:col-6">
                <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-outlined p-button-danger"></button>
            </div>
        </div>
    </p-dialog>


  <div class="card-titulo">
      <h4 class="text-center" style="color: white;">EDICIÓN DE SOLICITUD DE TOMA DE MUESTRA {{num_form}}</h4>
  </div>
      <div class="grid p-fluid">
          <div class="card card-w-title flex flex-wrap col-12">
              <div class="col-12">
                  <p-steps [model]="steps" [(activeIndex)]="activeStep"
                  styleClass="mt-1" [readonly]="false"
                  ></p-steps>
              </div>
              <div class="col-12" >
                  <div *ngIf="activeStep === 0"
                  >
                      <div class="grid p-fluid">
                            <div class="field col-12 md:col-9" *ngIf="!valSwitch">
                                <span class="p-float-label">
                                    <p-dropdown
                                        inputId="dropdown"
                                        [autoDisplayFirst]="false"
                                        [options]="listaLugaresVerificacion"
                                        optionLabel="lugar"
                                        optionValue="lugar"
                                        formControlName="lugar_verificacion"
                                        (onChange)="cambioLugarVerificacionTDM($event)"
                                    ></p-dropdown>

                                    <label for="dropdown">Lugar de Verificación de Toma de Muestra</label>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3">
                                <div class="field-checkbox">
                                    <p-inputSwitch [(ngModel)]="valSwitch" [ngModelOptions]="{standalone: true}"  (onChange)="valSwitches($event)"></p-inputSwitch>
                                    <label for="sf">Otro Lugar de Toma de Muestra</label>
                                </div>

                            </div>
                        <div class="field col-12 md:col-3" *ngIf="valSwitch">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="departamento_id"
                                    [autoDisplayFirst]="false"
                                    [options]="departamentos"
                                    formControlName="departamento_id"
                                    optionLabel="nombre"
                                    optionValue="id"
                                    (onChange)="cambioDepartamentoMapa($event)"
                                ></p-dropdown>
                                <label for="dropdown">Departamento</label>
                                <small id="nit" class="p-error " *ngIf="formulario_interno.esCampoInvalido('departamento_id')">
                                    {{formulario_interno.getErrorMessage('departamento_id')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3" *ngIf="valSwitch">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="municipio"
                                    [autoDisplayFirst]="false"
                                    [options]="municipios"
                                    formControlName="municipio_id"
                                    optionLabel="municipio"
                                    optionValue="id"
                                    (onChange)="cambioMunicipioMapa($event)"
                                ></p-dropdown>
                                <label for="dropdown">Municipio</label>
                                <small id="municipio_id" class="p-error " *ngIf="formulario_interno.esCampoInvalido('municipio_id')">
                                    {{formulario_interno.getErrorMessage('municipio_id')}}
                                </small>
                            </span>
                        </div>


                          <div class="field col-12 md:col-2" *ngIf="valSwitch">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="ubicacion_lat"
                                    pInputText
                                    formControlName="ubicacion_lat"
                                />
                                <label for="ubicacion_lat">Latitud </label>
                        <small id="ubicacion_lat" class="p-error " *ngIf="formulario_interno.esCampoInvalido('ubicacion_lat')">
                                    {{formulario_interno.getErrorMessage('ubicacion_lat')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-2" *ngIf="valSwitch">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="ubicacion_lon"
                                    pInputText
                                    formControlName="ubicacion_lon"
                                />
                                <label for="ubicacion_lon">Longitud </label>
                        <small id="ubicacion_lon" class="p-error " *ngIf="formulario_interno.esCampoInvalido('ubicacion_lon')">
                                    {{formulario_interno.getErrorMessage('ubicacion_lon')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-2" *ngIf="valSwitch">
                            <button pButton pRipple type="button" icon="pi pi-map" label="Buscar en Mapa" class="p-button-outlined p-button-info" (click)="abrirMapa()"></button>
                        </div>

                          <div class="field col-12 md:col-12" *ngIf="valSwitch">
                              <span class="p-float-label">
                                  <input
                                      type="text"
                                      id="lugar_verificacion"
                                      pInputText
                                      formControlName="lugar_verificacion"
                            class="ng-dirty"
                            />
                                  <label for="lugar_verificacion">Lugar de Verificación </label>
                                <small id="lugar_verificacion" class="p-error " *ngIf="formulario_interno.esCampoInvalido('lugar_verificacion')">
                                      {{formulario_interno.getErrorMessage('lugar_verificacion')}}
                                </small>
                              </span>
                          </div>
                          <div class="field col-12 md:col-12" *ngIf="!admin">
                            <span class="p-float-label mt-5">
                                <p-dropdown
                                    inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="listaUsuarios"
                                    formControlName="responsable_tdm_id"
                                    optionLabel="nombreCompleto"
                                    optionValue="id"

                                ></p-dropdown>

                                <label for="dropdown">Responsable de Toma de Muestra</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-12">
                            <span class="p-float-label">
                                <p-calendar
                                    inputId="fecha_hora_tdm"
                                    dateFormat="dd-mm-yy"
                                    formControlName="fecha_hora_tdm"
                                    [showTime]="true"
                                    hourFormat="24"
                                ></p-calendar>
                                <label for="calendar">Fecha y Hora de Toma de Muestra</label>
                                <small id="nit" class="p-error" *ngIf="formulario_interno.esCampoInvalido('fecha_hora_tdm')">
                                    {{formulario_interno.getErrorMessage('fecha_hora_tdm')}}
                                </small>
                            </span>
                        </div>
                      </div>
                  </div>
                  <div *ngIf="activeStep === 1"
                  >
                      <div class="grid p-fluid mt-2">
                        <div class="field col-12 md:col-12 ">
                            <h5>2.1 Datos del Mineral </h5>
                        </div>
                        <div class="field col-12 md:col-6">
                            <span class="p-float-label">
                                <input
                                    type="text"
                                    id="lote"
                                    pInputText
                                    formControlName="lote"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Lote</label>
                                <small id="lote" class="p-error "*ngIf="formulario_interno.esCampoInvalido('lote')">
                                    {{formulario_interno.getErrorMessage('lote')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-5">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="presentaciones"
                                    formControlName="presentacion_id"
                                    optionLabel="nombre"
                                    optionValue="id"
                                    (onChange)="cambioPresentacion($event)"
                                ></p-dropdown>
                                <label for="dropdown">Presentacion</label>
                                <small id="presentacion_id" class="p-error " *ngIf="formulario_interno.esCampoInvalido('presentacion_id')">
                                    {{formulario_interno.getErrorMessage('presentacion_id')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="cantidad"
                                    pInputText
                                    formControlName="cantidad"
                                    class="ng-dirty"
                                    [disabled]="presentacion.cantidad"
                                />
                                <label for="Razón Social">Cantidad</label>
                                <small id="cantidad" class="p-error "*ngIf="formulario_interno.esCampoInvalido('cantidad')">
                                    {{formulario_interno.getErrorMessage('cantidad')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="nro_camiones"
                                    pInputText
                                    formControlName="nro_camiones"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Nro. de Camiones/Vagones</label>
                                <small id="nro_camiones" class="p-error "*ngIf="formulario_interno.esCampoInvalido('nro_camiones')">
                                    {{formulario_interno.getErrorMessage('nro_camiones')}}
                                </small>
                            </span>
                        </div>

                        <div *ngIf="false" class="field col-12 md:col-4 ">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="parciales"
                                    formControlName="tipo_muestra"
                                    optionLabel="nombre"
                                    optionValue="nombre"
                                    (onChange)="cambioUnidad($event)"
                                ></p-dropdown>
                                <label for="dropdown">TIPO DE PESO</label>

                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="peso_neto_total"
                                    pInputText
                                    formControlName="peso_neto_total"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Peso Aproximado (Kg.)</label>
                                <small id="peso_neto_total" class="p-error "*ngIf="formulario_interno.esCampoInvalido('peso_neto_total')">
                                    {{formulario_interno.getErrorMessage('peso_neto_total')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="humedad"
                                    pInputText
                                    formControlName="humedad"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Humedad (%)</label>
                                <small id="humedad" class="p-error "*ngIf="formulario_interno.esCampoInvalido('humedad')">
                                    {{formulario_interno.getErrorMessage('humedad')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="merma"
                                    pInputText
                                    formControlName="merma"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Merma (0-1)</label>
                                <small id="merma" class="p-error "*ngIf="formulario_interno.esCampoInvalido('merma')">
                                    {{formulario_interno.getErrorMessage('merma')}}
                                </small>
                            </span>
                        </div>
                        <div *ngIf="false" class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="peso_neto_parcial"
                                    pInputText
                                    formControlName="peso_neto_parcial"
                                    class="ng-dirty"
                                />
                                <label for="Razón Social">Peso Neto Parcial (Kg.)</label>
                                <small id="peso_neto_parcial" class="p-error "*ngIf="formulario_interno.esCampoInvalido('peso_neto_parcial')">
                                    {{formulario_interno.getErrorMessage('peso_neto_parcial')}}
                                </small>
                            </span>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <h5 class="mt-0">2.1.1 Mineral, Ley y Unidad</h5>
                                <div class="grid p-fluid">
                                    <div class="field col-12 md:col-3 ">
                                        <app-mineralesSelect [tipo]="'NO COMPUESTO'" (mineral_id)="cambioMineralId($event)" (sigla)="cambioSigla($event)" (nombre)="cambioNombreMineral($event)"></app-mineralesSelect>
                                    </div>
                                    <div class="field col-12 md:col-3">
                                        <span class="p-float-label">
                                            <input
                                                type="number"
                                                id="nro_viajes"
                                                pInputText
                                                (input)="cambioLey($event)"
                                                class="ng-dirty"
                                            />
                                            <label for="Razón Social">Ley</label>
                                            <small id="nro_viajes" class="p-error "*ngIf="formulario_interno.esCampoInvalido('nro_viajes')">
                                                {{formulario_interno.getErrorMessage('nro_viajes')}}
                                            </small>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-3 ">
                                        <span class="p-float-label">
                                            <p-dropdown
                                                inputId="dropdown"
                                                [autoDisplayFirst]="false"
                                                [options]="unidades"
                                                optionLabel="nombre"
                                                optionValue="nombre"
                                                (onChange)="cambioUnidad($event)"
                                            ></p-dropdown>
                                            <label for="dropdown">Unidad</label>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-2">
                                        <button pButton pRipple (click)="agregarLey()" type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-success"></button>
                                    </div>

                                    <div class="field col-12">
                                        <p-table #dt [value]="lista_leyes_mineral"
                                        responsiveLayout="scroll" [rows]="10"
                                        [paginator]="false"  [showCurrentPageReport]="false"
                                        selectionMode="multiple"
                                        [rowHover]="true"
                                        dataKey="id">

                                            <ng-template pTemplate="header">
                                                <tr>

                                                    <th pSortableColumn="code">Descripción <p-sortIcon field="code"></p-sortIcon></th>
                                                    <th pSortableColumn="code">Sigla <p-sortIcon field="code"></p-sortIcon></th>
                                                    <th pSortableColumn="name">Ley <p-sortIcon field="name"></p-sortIcon></th>
                                                    <th pSortableColumn="price">Unidad <p-sortIcon field="price"></p-sortIcon></th>
                                                    <th pSortableColumn="price">Acción <p-sortIcon field="price"></p-sortIcon></th>

                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-product>
                                                <tr>

                                                    <td style="width:30%; min-width:20rem;"><span class="p-column-title">Descripción</span>
                                                        {{product.descripcion}}
                                                    </td>
                                                    <td style="width:14%; min-width:8rem;">
                                                        <span class="p-column-title">Sigla</span>
                                                        {{product.sigla_mineral}}
                                                    </td>
                                                    <td style="width:14%; min-width:10rem;">
                                                        <span class="p-column-title">Ley</span>
                                                        {{product.ley}}
                                                    </td>
                                                    <td style="width:14%; min-width:8rem;">
                                                        <span class="p-column-title">Unidad</span>
                                                        {{product.unidad}}
                                                    </td>
                                                    <td>
                                                        <div class="flex">
                                                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminar(product)"></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-12 ">
                            <h5>2.2 Origen del Mineral </h5>
                        </div>

                          <div class="field col-12 md:col-3 ">
                              <app-departamentoSelect [departamento_id]="departamento_id" (cambioDepartamento)="cambioDepartamento($event)" (nombre_departamento)="cambioNombreDepartemento($event)"></app-departamentoSelect>
                          </div>
                          <div class="field col-12 md:col-3 ">
                              <app-municipioSelect [departamento_id]="departamento_id" [municipio_id1]="municipio_id" (municipio_id)="cambioMunicipio($event)" (nombre_municipio)="cambioNombreMunicipio($event)"></app-municipioSelect>
                          </div>

                          <div class="field col-12 md:col-2">
                              <button pButton pRipple (click)="agregarMunicipio()" type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-success"></button>
                          </div>

                          <div class="field col-12">
                              <p-table #dt [value]="lista_municipios_origen"
                              responsiveLayout="scroll" [rows]="10"
                              [paginator]="false"  [showCurrentPageReport]="false"
                              selectionMode="multiple"
                              [rowHover]="true"
                              dataKey="id">

                                  <ng-template pTemplate="header">
                                      <tr>

                                          <th pSortableColumn="code">Departamento <p-sortIcon field="code"></p-sortIcon></th>
                                          <th pSortableColumn="code">Municipio <p-sortIcon field="code"></p-sortIcon></th>
                                          <th pSortableColumn="name">ID Municipio <p-sortIcon field="name"></p-sortIcon></th>
                                          <th pSortableColumn="price">Acción <p-sortIcon field="price"></p-sortIcon></th>

                                      </tr>
                                  </ng-template>
                                  <ng-template pTemplate="body" let-product>
                                      <tr>

                                          <td style="width:30%; min-width:20rem;"><span class="p-column-title">Departamento</span>
                                              {{product.departamento}}
                                          </td>
                                          <td style="width:14%; min-width:8rem;">
                                              <span class="p-column-title">Municipio</span>
                                              {{product.municipio}}
                                          </td>
                                          <td style="width:14%; min-width:10rem;">
                                              <span class="p-column-title">Ley</span>
                                              {{product.municipio_id}}
                                          </td>
                                          <td>
                                              <div class="flex">
                                                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminarMunicipio(product)"></button>
                                              </div>
                                          </td>
                                      </tr>
                                  </ng-template>
                              </p-table>
                          </div>
                      </div>
                  </div>

                                    <div *ngIf="activeStep === 2">
                        <div class="grid p-fluid mt-2">
                            <div class="field col-12 md:col-12 ">
                                <h5>2.1 Datos de Exportación </h5>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="m03_id"
                                        pInputText
                                        formControlName="m03_id"
                                        class="ng-dirty"
                                    />
                                    <label for="m03_id">ID M-03</label>
                                    <small id="m03_id" class="p-error "*ngIf="formulario_interno.esCampoInvalido('m03_id')">
                                        {{formulario_interno.getErrorMessage('m03_id')}}
                                    </small>
                                </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="laboratorio"
                                        pInputText
                                        formControlName="laboratorio"
                                        class="ng-dirty"
                                    />
                                    <label for="laboratorio">Laboratorio</label>
                                    <small id="laboratorio" class="p-error "*ngIf="formulario_interno.esCampoInvalido('laboratorio')">
                                        {{formulario_interno.getErrorMessage('laboratorio')}}
                                    </small>
                                </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="codigo_analisis"
                                        pInputText
                                        formControlName="codigo_analisis"
                                        class="ng-dirty"
                                    />
                                    <label for="codigo_analisis">Código de Análisis</label>
                                    <small id="codigo_analisis" class="p-error "*ngIf="formulario_interno.esCampoInvalido('codigo_analisis')">
                                        {{formulario_interno.getErrorMessage('codigo_analisis')}}
                                    </small>
                                </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="nro_factura_exportacion"
                                        pInputText
                                        formControlName="nro_factura_exportacion"
                                        class="ng-dirty"
                                    />
                                    <label for="nro_factura_exportacion">N° Factura Comercial de Exportación</label>
                                    <small id="nro_factura_exportacion" class="p-error "*ngIf="formulario_interno.esCampoInvalido('nro_factura_exportacion')">
                                        {{formulario_interno.getErrorMessage('nro_factura_exportacion')}}
                                    </small>
                                </span>
                            </div>
                            <div class="field col-12 md:col-12 ">
                                <h5>2.1 Datos de Destino </h5>
                            </div>
                            <div  class="field col-12 md:col-3">
                                <span class="p-float-label">
                                    <input
                                        type="text"
                                        id="comprador"
                                        pInputText
                                        formControlName="comprador"
                                        class="ng-dirty"
                                    />
                                    <label for="comprador">Comprador</label>
                                    <small id="comprador" class="p-error "*ngIf="formulario_interno.esCampoInvalido('comprador')">
                                        {{formulario_interno.getErrorMessage('comprador')}}
                                    </small>
                                </span>
                            </div>
                            <div class="field col-12 md:col-3 ">
                                <app-paisSelect [pais_id]="pais_id" (cambioPais)="cambioPais($event)" ></app-paisSelect>
                            </div>
                            <div class="field col-12 md:col-3 ">
                                <app-aduanaSelect [aduana_id]="aduana_id" (cambioAduana)="cambioAduana($event)" ></app-aduanaSelect>
                            </div>
                        </div>
                    </div><div class="centrar-botones">
                    <div class="botones-container">
                        <div class="col-33" *ngIf="activeStep > 0">
                            <button pButton pRipple type="button" label="Anterior"
                                class="p-button-rounded p-button-secondary boton-ajustado"
                                (click)="prevStep()" icon="pi pi-arrow-left">
                            </button>
                        </div>
                        <div class="col-33" *ngIf="activeStep !== steps.length - 1">
                            <button pButton pRipple type="button" label="Siguiente"
                                class="p-button-rounded p-button-success boton-icono-derecha boton-ajustado"
                                (click)="nextStep()" icon="pi pi-arrow-right">
                            </button>
                        </div>
                        <div class="col-33" *ngIf="activeStep === steps.length - 1">
                            <button pButton pRipple type="button" label="Guardar"
                                class="p-button-rounded p-button-info boton-ajustado"
                                (click)="guardar()" icon="pi pi-save">
                            </button>
                        </div>
                        <div class="col-33">
                            <button pButton pRipple type="button" label="Cancelar"
                                class="p-button-rounded p-button-danger boton-ajustado"
                                [routerLink]="['/public/toma-de-muestra']" icon="pi pi-trash">
                            </button>
                        </div>
                    </div>
                </div>
              </div>

          </div>

      </div>
</form>







