<div class="id-card">
  <div class="content">
    <div class="header">
      <h1>SDMMRE - {{operador.id}}</h1>
    </div>

    <div class="dates">
      <div class="date-item">
        <span class="date-label">FECHA DE REGISTRO</span>
        <span class="date-value">{{fecha_creacion}}</span>
      </div>

      <div *ngIf="operador.fecha_actualizacion?.trim()" class="date-item">
        <span class="date-label">FECHA DE ACTUALIZACIÓN</span>
        <span class="date-value">{{fecha_actualizacion}}</span>
      </div>

      <div class="date-item">
        <span class="date-label">FECHA DE EXPIRACIÓN</span>
        <span class="date-value">{{fecha_expiracion}}</span>
      </div>
    </div>

    <div class="company-name">
      {{operador.razon_social}}
    </div>

    <div class="details">
      <div class="detail-row">
        <span class="detail-label">NIT:</span>
        <span class="detail-value">{{operador.nit}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">NIM/NIAR:</span>
        <span class="detail-value">{{operador.nro_nim}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">ACTOR MINERO:</span>
        <span class="detail-value">{{getActorMinero(operador.tipo_operador)}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">ACTIVIDAD:</span>
        <span class="detail-value">{{getActividades(operador)}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">REPRESENTANTE LEGAL:</span>
        <span class="detail-value">{{operador.rep_nombre_completo}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">DIRECCIÓN:</span>
        <span class="detail-value">{{operador.dl_direccion}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">CORREO ELECTRÓNICO:</span>
        <span class="detail-value">{{operador.correo_inst}}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">TELÉFONO Y/O CELULAR:</span>
        <span class="detail-value">{{operador.tel_fijo}} {{operador.celular}} {{operador.rep_celular}}</span>
      </div>
    </div>

    <div class="qr-code">
      <img [src]="qrCodeUrl" alt="Código QR de verificación">
    </div>
  </div>
</div>
