<form [formGroup]="form.formulario" (ngSubmit)="onSubmit()">

    <div class="card card-w-title flex flex-wrap col-12">
    <div class="field col-12 md:col-12">
        <label>Nombre:</label>
        <input type="text" pInputText id="nombre" formControlName="nombre"  autofocus />
        <small class="ng-dirty ng-invalid" *ngIf="form.esCampoInvalido('nombre')">{{form.getErrorMessage('nombre')}}</small>
    </div>
    <div class="form-control col-12 md:col-8">

        <input
          pInputText
          [ngModelOptions]="{standalone: true}"
          type="text"
          id="descripcion"
          [(ngModel)]="detalle_procedure.nombre"
          (input)="cambioProcedimiento($event)"
          placeholder="Descripción del procedimiento"
        />
    </div>
    <div class="field col-12 md:col-4">
        <button pButton pRipple (click)="agregarProcedimiento()" type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-success"></button>
    </div>

    <div class="field col-12">
        <p-table #dt [value]="detalle_procedimiento"
        responsiveLayout="scroll" [rows]="10"
        [paginator]="false"  [showCurrentPageReport]="false"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id">

            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="code">Procedimiento <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="price">Acción <p-sortIcon field="price"></p-sortIcon></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle_procedure>
                <tr>

                    <td style="width:60%; min-width:30rem;"><span class="p-column-title">Procedimiento</span>
                        {{detalle_procedure.nombre}}
                    </td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminar(detalle_procedure)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </div>
    <div class="botones-derecha">
        <span class="p-buttonset col-12 md:col-6 ">
            <button pButton pRipple label="Guardar" class="p-button-secondary" icon="pi pi-check" type="submit"></button>
            <button pButton pRipple label="Cancelar"  class="p-button-danger" icon="pi pi-trash" (click)="ocultarDialogo()"></button>
        </span>
    </div>
</form>

