<form [formGroup]="roleForm" (ngSubmit)="onSubmitRol()">
    <div class="card-titulo">
      <h4 class="text-center" style="color: white;">Editar Rol</h4>
    </div>

    <div class="grid p-fluid">
      <div class="card card-w-title flex flex-wrap col-12">
        <!-- Campo Nombre del Rol -->
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input type="text" id="nombre" pInputText formControlName="nombre" />
            <label for="nombre">Nombre del Rol</label>
          </span>
        </div>

        <!-- Tabla de Permisos -->
        <div class="field col-12">
          <h5>Permisos</h5>
          <div class="permissions-grid">
            <div *ngFor="let groupKey of groupedPermissions | keyvalue" class="permission-group">
              <div class="card minimalista">
                <!-- Checkbox para seleccionar todos -->
                <h6 class="text-center">{{ groupKey.key.toUpperCase() }}</h6> <!-- Título del grupo -->
                <div class="select-all">
                    <input
                      type="checkbox"
                      [checked]="isAllSelected(groupKey.key)"
                      (change)="toggleAll(groupKey.key, $event)"
                    />
                    <label><strong>Seleccionar todo</strong></label>
                  </div>
                <!-- Lista de permisos individuales -->
                <div *ngFor="let permission of groupKey.value" class="permission-item">
                  <input
                    type="checkbox"
                    [checked]="roleForm.get('permissions')?.value.includes(permission.id)"
                    (change)="onChange(permission, $event)"
                  />
                  <label>{{ permission.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Botones -->
        <div class="centrar-botones">
          <button pButton pRipple type="submit" label="Guardar"
            class="p-button-rounded p-button-info boton-ajustado"
            icon="pi pi-save" [disabled]="roleForm.invalid">
          </button>

          <button pButton pRipple type="button" label="Cancelar"
            class="p-button-rounded p-button-danger boton-ajustado"
            icon="pi pi-trash" (click)="roleForm.reset()">
          </button>
        </div>
      </div>
    </div>
  </form>
