<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, rgba(161, 4, 4, 0.801) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px;">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo-dark.png" alt="Image" height="100" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">SIDCOM 2.0</div>
                    <span class="text-600 font-medium">Es necesario cambiar de Contraseña para acceder al sistema..</span>
                </div>

                <div>
                    <form [formGroup]="passwordForm" (ngSubmit)="actualizarUsuario()">
                        <!-- Nueva Contraseña -->
                        <label for="password" class="block text-900 text-xl font-medium mb-2">Nueva Contraseña</label>
                        <p-password 
                            name="password" 
                            formControlName="password"
                            (input)="validarPassword()" 
                            placeholder="Contraseña" 
                            [toggleMask]="true" 
                            styleClass="mb-2" 
                            [feedback]="false"
                            inputStyleClass="w-full p-3 md:w-30rem">
                        </p-password>
                        <small *ngIf="errorPass" class="error" style="color: red; font-size: 0.875rem;">
                            {{ errorPass }}
                        </small>

                        <!-- Confirmar Contraseña -->
                        <label for="confirmPassword" class="block text-900 text-xl font-medium mb-2 mt-3">Confirmar Contraseña</label>
                        <div style="display: flex; flex-direction: column;">
                            <p-password 
                                name="confirmPassword" 
                                formControlName="confirmPassword" 
                                (input)="verificar($event)" 
                                placeholder="Confirmar Contraseña" 
                                [toggleMask]="true" 
                                styleClass="mb-2"
                                inputStyleClass="w-full p-3 md:w-30rem" 
                                [feedback]="false">
                            </p-password>
                            <small *ngIf="errorVerificarPassword" class="error" style="color: red; font-size: 0.875rem;">
                                Las contraseñas no coinciden
                            </small>
                        </div>

                        <!-- Botón de Cambio de Contraseña -->
                        <button pButton type="submit" 
                            [disabled]="passwordForm.invalid || errorPass || errorVerificarPassword" 
                            pRipple label="Cambiar Contraseña" 
                            class="custom-btn p-3 p-button-warning text-xl mt-3">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
