
<form [formGroup]="tranca.formulario" (ngSubmit)="onSubmit()">
    <p-dialog (onShow)="actualizarMapa()" [(visible)]="mapaDialogo" [style]="{width: '800px',height:'800px'}" header="Mapa (Hacer click en el lugar que desee)" [modal]="true" class="p-fluid">
        <div style="height: 90%;" leaflet [leafletOptions]="options" [leafletLayers]="[streetLayer,satelliteLayer]" (leafletMapReady)="onMapReady($event)"></div>
        <div class="grid p-fluid" >
            <div class="col-12 md:col-6">
                <button (click)="agregarPunto()" pButton pRipple type="button" icon="pi pi-plus" label="Agregar" class="p-button-outlined p-button-info" ></button>
            </div>
            <div class="col-12 md:col-6">
                <button pButton pRipple type="button" icon="pi pi-times" label="Cancelar" class="p-button-outlined p-button-danger"></button>
            </div>
        </div>
    </p-dialog>


  <div class="card-titulo">
      <h4 class="text-center" style="color: white;">CREACION DE NUEVO PUESTO DE CONTROL</h4>
  </div>
      <div class="grid p-fluid">
          <div class="card card-w-title flex flex-wrap col-12">

              <div class="col-12" >
                      <div class="grid p-fluid">


                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <p-dropdown
                                    inputId="municipio"
                                    [autoDisplayFirst]="false"
                                    [options]="municipio"
                                    formControlName="municipio_id"
                                    optionLabel="municipio"
                                    optionValue="id"
                                    (onChange)="cambioMunicipioMapa($event)"
                                ></p-dropdown>
                                <label for="dropdown">Municipio</label>
                                <small id="municipio_id" class="p-error " *ngIf="tranca.esCampoInvalido('municipio_id')">
                                    {{tranca.getErrorMessage('municipio_id')}}
                                </small>
                            </span>
                        </div>

                          <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="latitud"
                                    pInputText
                                    formControlName="latitud"
                                />
                                <label for="latitud">Latitud </label>
                            <small id="latitud" class="p-error " *ngIf="tranca.esCampoInvalido('latitud')">
                                    {{tranca.getErrorMessage('latitud')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-3">
                            <span class="p-float-label">
                                <input
                                    type="number"
                                    id="longitud"
                                    pInputText
                                    formControlName="longitud"
                                />
                                <label for="longitud">Longitud </label>
                        <small id="longitud" class="p-error " *ngIf="tranca.esCampoInvalido('longitud')">
                                    {{tranca.getErrorMessage('longitud')}}
                                </small>
                            </span>
                        </div>
                        <div class="field col-12 md:col-2">
                            <button pButton pRipple type="button" icon="pi pi-map" label="Buscar en Mapa" class="p-button-outlined p-button-info" (click)="abrirMapa()"></button>
                        </div>

                          <div class="field col-12 md:col-3">
                              <span class="p-float-label">
                                  <input
                                      type="text"
                                      id="nombre"
                                      pInputText
                                      formControlName="nombre"
                            class="ng-dirty"
                            />
                                  <label for="nombre">Puesto de Control</label>
                                <small id="nombre" class="p-error " *ngIf="tranca.esCampoInvalido('nombre')">
                                      {{tranca.getErrorMessage('nombre')}}
                                </small>
                              </span>
                          </div>

                          <div class="field col-12 md:col-9">
                              <span class="p-float-label">
                                  <input
                                      type="text"
                                      id="descripcion"
                                      pInputText
                                      formControlName="descripcion"
                            class="ng-dirty"
                            />
                                  <label for="descripcion">Descripción </label>
                                <small id="descripcion" class="p-error " *ngIf="tranca.esCampoInvalido('descripcion')">
                                      {{tranca.getErrorMessage('descripcion')}}
                                </small>
                              </span>
                          </div>
                      </div>

                  <div class="centrar-botones">
                    <div class="botones-container">

                        <div class="col-33" >
                            <button pButton pRipple type="button" label="Guardar"
                                class="p-button-rounded p-button-info boton-ajustado"
                                (click)="onSubmit()" icon="pi pi-save">
                            </button>
                        </div>
                        <div class="col-33">
                            <button pButton pRipple type="button" label="Cancelar"
                                class="p-button-rounded p-button-danger boton-ajustado"
                                [routerLink]="['/admin/puesto-control']" icon="pi pi-trash">
                            </button>
                        </div>
                    </div>
                </div>
              </div>

          </div>

      </div>
</form>
